*,
*::before,
*::after{
box-sizing:border-box;
margin: 0;
padding: 0;
}
body{
    display:flex;
    flex-direction:row;
    justify-content: center;  /* justificacion en el eje principal*/
    align-items:center; /* Justificacion en el eje transversal*/
    width:100vw;
    height:100vh;
    background:rgb(0, 145, 255);
    font-size: 16px;
}
    /* -------------------------------Empieza la cabecera-------------------------------------*/
.container{
    display:inline-flex;
    flex-flow:row wrap;
    position:relative;
    width:95vw;
    height:90vh;
    box-shadow:5px 5px 10px 5px rgb(48, 48, 48);
    border-radius:8px;
    background:whitesmoke;
    overflow:scroll;
}
.container::-webkit-scrollbar{
    background:rgb(253, 253, 253);
    width:10px;
    height:0;
    border-radius:15px;
}
::-webkit-scrollbar-thumb {
    background:rgb(49, 49, 49); 
    border-radius:3px;
  }

.head{
    background:rgb(38,38, 38);
    font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    display:inline-block;
    width:100%;
    font-size:1.5rem;
}
ul{
    display:inline-flex;
    width:100%;
    height:50px;
    flex-direction:row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
li{
    list-style: none;
    flex:1 0 auto;
}
.head-img{
    display:inline-flex;
    width:100%;
    height:100%;
    background-image:url("../Imagenes/portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
li a{
    text-decoration: none;
    color:white;
    transition: color 0.7s;
}
li a:hover{
    color:rgb(212, 0, 255);
}
.head-img{
    display:flex;
    justify-content: center;
    align-items: center;
}
.head-saludo{
    color: white;
    font-size:3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}/* -------------------------------Acaba la cabecera-------------------------------------*/
/* -------------------------------Empieza Acerca de mi----------------------------------*/
.container-acerca{
    display:inline-grid;
    width:90%;
    height: auto;
    margin:2% 5%;
    grid-template-columns:30% 30% 40%;
    opacity: 0;
    transition:opacity 1.5s;
}
.container-acerca-informacion{
    display:flex;
    flex-flow:row wrap;
    flex:1 1 auto;
}
.titulo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.5rem;
}
.subtitulo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1rem;
}
.contenido{
    text-align: justify;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.curriculum{
    display:inline-flex;
    width:150px;
    height:30px;
    border-radius:8px;
    background: rgb(1, 111, 201);
    justify-content: center;
    align-items: center;
    margin:10px auto 0 auto ;
    transition:background 1s;
}
.curriculum:hover{
    background:crimson;
}
.curriculum a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:16px;
}
.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:15px 0 0 20px;
}
.foto img{
    width:85%;
    height:85%;
    box-shadow:2px 2px 2px 2px rgb(48, 48, 48);
    border-radius:5px;
    object-fit:cover;
}
.container-habilidades{
    display:grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows:20% 25% 25%;
}
.container-habilidades-titulo{
    grid-column-start:1;
    grid-column-end:5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}
.habilidades-icon{
    display:inline-flex;
    justify-content: center;
    align-content: center;
    font-size:3.5rem;
}
/* -------------------------------Acaba acerca de mi -------------------------------------*/
/* -------------------------------Empieza Interes -------------------------------------*/
.container-interes{
    display:inline-grid;
    box-sizing: border-box;
    grid-template-columns:33% 33% 33%;
    grid-template-rows:10% 280px 280px;
    padding:5% 5% 5% 5%;
    width:100%;
    height:auto;
    background: rgb(226, 226, 226);
}
.container-interes-titulo{
    grid-column-start:1;
    grid-column-end:4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
.container-interes-titulo h2{
    display:inline-block;
    border-top:2px solid rgb(199, 3, 124) ;
    border-bottom: 2px solid rgb(199, 3, 124);
}
.interes1{
    display:block;
    background-image:url("../Imagenes/futbol.jpg");
    background-repeat: no-repeat;
    background-size:cover;   
}
.interes2{
    display:block;
    background-image:url("../Imagenes/libro.jpg");
    background-repeat: no-repeat;
    background-size:cover;   
}
.interes3{
    display:inline-block;
    background-image:url("../Imagenes/correr.jpg");
    background-repeat: no-repeat;
    background-size:cover;   
}

.interes4{
    display:block;
    background-image:url("../Imagenes/aireLibre.jpg");
    background-repeat: no-repeat;
    background-size:cover;   
}
.interes5{
    display:block;
    background-image:url("../Imagenes/programacion.jpg");
    background-repeat: no-repeat;
    background-size:cover;   
}
.interes6{
    display:inline-block;
    background-image:url("../Imagenes/theBoys.jpg");
    background-repeat: no-repeat;
    background-size:cover;   
}
.container-interes-contenido{
    display:inline-block;
    width:85%;
    margin:25px;
    height:229px;
    border:2px solid white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    opacity:0;
    transition:opacity 1s;
}
/* -------------------------------Acaba Interes -------------------------------------*/
/* -------------------------------Empieza contacto ----------------------------------*/
#contacto{
    display: flex;
    box-sizing: border-box;
    width:100%;
    height:350px;
    justify-content: center;
    align-items: center;
}
.contacto-formulario{
    display:inline-flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    width:80%;
    height:320px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contacto-formulario-titulo{
    font-size:25px;
    border-top:2px solid rgb(199, 3, 124) ;
    border-bottom: 2px solid rgb(199, 3, 124);
}
input{
    width:305px;
    height:25px;
    border-radius:5px;
   
}
/* -------------------------------Acaba contacto ----------------------------------*/
